# Ignore python cache files
/__pycache__/*
/**/__pycache__/*

# Ignore python environment
/venv/*
/.venv/*
/.env/*

# Ignore python logs
/*.log
/*.log.*
/*.log-*

# Ignore text editor files
/.idea/*
/.vscode/*
/.sublime-project

# Ignore python compiled files
/*.pyc
/*.pyo
/*.pyd

# Ignore data files
*.txt
*.csv
*.json
*.xml
!requirements.txt
